[submodule "vendor/deepseek-harness"]
	path = vendor/deepseek-harness
	url = https://github.com/deepseek-ai/deepseek-harness.git
	branch = master
[submodule "vendor/dsh-article-creator"]
	path = vendor/dsh-article-creator
	url = https://github.com/robbot-labs/dsh-article-creator.git
[submodule "vendor/dsh-video-creator"]
	path = vendor/dsh-video-creator
	url = https://github.com/robbot-labs/dsh-video-creator.git
[submodule "vendor/dsh-plugin-template"]
	path = vendor/dsh-plugin-template
	url = https://github.com/robbot-labs/dsh-plugin-template.git
[submodule "vendor/dsh-plugin-base"]
	path = vendor/dsh-plugin-base
	url = https://github.com/robbot-labs/dsh-plugin-base.git
[submodule "vendor/dsh-plugin-noui"]
path = vendor/dsh-plugin-noui
	url = https://github.com/robbot-labs/dsh-plugin-noui.git
